{% extends 'base.html'%}{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        var array = ["Blue Turban", "Green Cap", "Red Beanie"];
        $(function() {
          $('a#choice_selection').on('click', function(e) {
          current_index = (current_index + 1) % array.length
          document.getElementById("demo").innerHTML = array[current_index];
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


<h5 style="text-align: center; color:#ffff1a; background-color:#bf00ff">Keep your face in the middle of the frame</h5>
<div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('video') }}"></div>
<div class='container text-center'>
        <form>
            <a href=# id=choice_selection><button class='btn btn-primary'>Next</button></a>
<!--            <a href=# id=-->
        </form>
</div>
<div class='container text-center'>
<p id="demo" style="color:#00ff00;font-size:160%;" > </p>
</div>
<script>
    current_index = 0
    document.getElementById("demo").innerHTML = array[current_index];
</script>


{% endblock %}